html {
  font-size: 62.5%;
}

body {
  margin-left: 9.8rem;
  margin-right: 0.8rem;
  margin-top: 0rem;
  font-family: Roboto, Arial;
  background-color: black; 
}

a {
  all: unset;
}

p {
  margin: 0rem;
  margin-bottom: 1rem;
}